<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<!-- Footer Section Begin -->
<footer class="footer-section">
    <div class="container">
        <!-- about row -->
        <div class="row">
            <!-- left column -->
            <div class="col-lg-4">
                <div class="footer-about">
                    <div class="fa-logo">
                        <a href="#"><img th:src="@{/img/amin/f-logo.png}" alt="footer logo"></a>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua lacus vel facilisis.</p>

                    <div>
                        <a href="#"><i class="fa-social-a fa fa-facebook"></i></a>
                        <a href="#"><i class="fa-social-a fa fa-twitter"></i></a>
                        <a href="#"><i class="fa-social-a fa fa-youtube-play"></i></a>
                        <a href="#"><i class="fa-social-a fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <!-- middle column -->
            <div class="col-lg-4 col-md-6">
                <div class="editor-choice">
                    <div class="section-title">
                        <h5>Editor's Choice</h5>
                    </div>
                    <div class="ec-item">
                        <div class="ec-pic">
                            <img th:src="@{/img/amin/trending/editor-1.jpg}" alt="trending/editor-1.jpg">
                        </div>
                        <div class="ec-text">
                            <h6><a href="#">A Monster Prom poster got hijacked for a Papa Roach concert...</a>
                            </h6>
                            <ul>
                                <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                                <li><i class="fa fa-comment-o"></i> 12</li>
                            </ul>
                        </div>
                    </div>
                    <div class="ec-item">
                        <div class="ec-pic">
                            <img th:src="@{/img/amin/trending/editor-2.jpg}" alt="trending/editor-2.jpg">
                        </div>
                        <div class="ec-text">
                            <h6><a href="#">Facebook wants to read your thoughts with its augmented...</a>
                            </h6>
                            <ul>
                                <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                                <li><i class="fa fa-comment-o"></i> 12</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- right column -->
            <div class="col-lg-4 col-md-6">
                <div class="tags-cloud">
                    <div class="section-title">
                        <h5>Tags Cloud</h5>
                    </div>
                    <div class="tag-list">
                        <a href="#"><span>Gaming</span></a>
                        <a href="#"><span>Platform</span></a>
                        <a href="#"><span>Playstation</span></a>
                        <a href="#"><span>Hardware</span></a>
                        <a href="#"><span>Reviews</span></a>
                        <a href="#"><span>Simulation</span></a>
                        <a href="#"><span>Strategy</span></a>
                        <a href="#"><span>Scientific</span></a>
                        <a href="#"><span>References</span></a>
                        <a href="#"><span>Role-playing</span></a>
                        <a href="#"><span>Adventurea</span></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- copyright row -->
        <div class="copyright-area">
            <div class="row">
                <!-- copyright area -->
                <div class="col-lg-6">
                    <div class="ca-text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
                </div>

                <!-- bottom menu area -->
                <div class="col-lg-6">
                    <div class="ca-links">
                        <a href="#">About</a>
                        <a href="#">Subscribe</a>
                        <a href="#">Contact</a>
                        <a href="#">Support</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->